---
import SocialList from "@/components/SocialList.astro";
import PublicationPreview from "@/components/publication/PublicationPreview.astro";
import { getAllPublications, sortMDByDate } from "@/data/publication";
import PageLayout from "@/layouts/Base.astro";

const MAX_POSTS = 10;
const allPublications = await getAllPublications();
const allPublicationsByDate = sortMDByDate(allPublications).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "About" }}>
	<section style="max-width:800px">
        <h3 class="mb-5 text-xl font-bold">Welcome to the BeeryLab at MIT CSAIL led by Sara Beery!</h3>
        <p class="mb-4"><b>
            Our goal is to build machine learning systems that enable global-scale environmental and biodiversity monitoring.
        </b></p>
		<p class="mb-4">
			To achieve this, our research involves Understanding multiple modalities, tackling real-world challenges including strong spatiotemporal correlations that lead to domain shift, imperfect data quality, fine-grained categories, and long-tailed distributions.
		</p>
	</section>
	<section aria-label="Blog publication list" class="mt-16">
		<h2 class="title mb-4 text-xl">Recent Publications</h2>
		<ul class="space-y-4">
			{
				allPublicationsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						<PublicationPreview publication={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
